<h1>New Animal</h1>

<%= render 'form', animal: @animal %>

<%= link_to 'Back', user_animals_path(user: current_user, tag_number: @animal.tag_number),
                                      class: "btn btn-xs btn-success", method: :post %>
